* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    gap: 232.5px;
    padding: 21.84px 0;
    margin: 0 165px;
}

.list ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

.icons ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.items {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 165px;
}

.item {
    width: calc((100% - 90px)/4);
}

img {
    width: 100%;
}