* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --PrimaryColor: #19213D;
    --primaryFont: Inter;
}
/* h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "EB Garamond", serif;
} */
.navbar {
    padding: 21.84px 0;
}
.navbar a {
    text-decoration: none;
    font-size: 14px;
    font-family: var(--primaryFont);
    color: var(--PrimaryColor);
}

.container {
    width: calc(100% - 330px);
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

.list a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}


.icons ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.menu {
    display: none;
}

@media screen and (max-width: 576px) {
    .menu {
        display: flex;
        width: 50px;
        height: 40px;
    }

}

@media screen and (min-width:0) and (max-width:996px) {
    .list {
        display: none;
    }

    .icons {
        display: none;
    }

    .menu {
        width: 90px;
        height: 40px;
        display: flex;
    }
}

.items {
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.item {
    width: calc((100% - 90px)/4);
    text-align: center;
}
.items h2 {
    text-transform: uppercase;
    color: var(--PrimaryColor);
}
@media screen and (min-width:0) and (max-width:767px) {
    .items .row {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

}

@media screen and (min-width:768px) and (max-width:991px) {
    .item {
        width: calc((100% - 30px) / 2);
    }
}

img {
    width: 100%;
}
 .best-saller {
    background-color: #FFFFF3;
    text-align: center;
    padding: 80px 0;
 }
 .best-saller .row{
    display: flex;
  gap: 30px;
  align-items: stretch;
 }
 .best-saller .item{
 text-align: left;
 width: calc((100% -90px ) / 4);
 display: flex;
  flex-direction: column;
  height: 100%;
 }
.best-saller h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 48px;
}

 .best-saller .saller-info{
    margin-top: 24px;
 }
.best-saller h3{
   font-size: 20px;
   font-weight: 500;
   text-transform: uppercase;
   margin-bottom: 12px;
}
.best-saller .price{
 font-size: 20px;
   font-weight: 500;
}
.best-saller .describtion{
    color: #807F86;
    width: 80%;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 34px;
}
.best-saller .Add_To_Cart{
   
    padding: 15px 81px;
    background-color: #fff;
    border: 1px solid #000;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;

}

@media screen and (min-width:0) and (max-width:767px) {
   
    /* كل كرت بعرض كامل */
    .best-saller .item{
        width: 100%;
        text-align: center;
    }

    
    .best-saller .saller-img{
        width: 100%;
    }
    .best-saller .saller-info{
        margin-top: 16px;
        text-align: center;
    }

    
    .best-saller .describtion{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    
   
}
/* overflow حل مشكلة float */
/* clear  حل مشكلة float */